/* Generic CSS
*/
.center {text-align: center;}
.text-right {text-align: right;}
.animate:hover {
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;
}
/* Colors and backgrounds
*/
.text-blue {color: #07c;}
.bg-blue {background: #07c;}

.text-red {color: #F00;}
.text-green {color: #1ac41a;}

/* Customized Buttons
*/
.btn {
    color: #FFF;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    font-size: 18px;
}

/* Customized Toolbar
*/
.toolbar {
	background: #333;
	color: #FFF;
}
.toolbar-button,
.toolbar__title,
.toolbar a {color:#FFF !important;}

/* Customized Lists
*/
.custom__header {padding:10px; font-size:18px;border-bottom: 1px solid #CCC;background:#EEE;}
.custom__row-header {
	padding:10px; 
	font-size:15px;
	border-bottom: 1px solid #EEE;
	background:#FFF;
	font-weight: bold;
}
.row-item {
	padding:10px; 
	margin-bottom: 1px; 
	border-bottom: 1px solid #EEE;
}
.row-item:nth-child(even) {background:#FFF;}

.header-icon {
  font-size: 32px;
  width: 1em;
}

.page-content {
  padding-top: 56px;
}
