html,body
{
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    font-family: "Helvetica Neue";
}

h3{
  margin-top: 10px !important;
}

h2{
  margin-top: 15px !important;
}

path {
    stroke: white;
    stroke-width: 0.5px;
    fill: black;
}

span{
  display: inline-block;
}

svg {
    font: 10px sans-serif;
}
h1{
  padding:20px; 
  font-size: 56px;
  text-align: center;
  background-color:rgba(186,186,186,1);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#barChart{
    display: block; 
    margin: auto;
}

#chart {    
  width: 100%;
  margin: auto;
}

#belowChart{
  padding-left: 16%;
}

/*#mapScreen{
  text-align: right;
  margin-left: 20px;
}*/

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
}

.country:hover{
    stroke: #fff;
    stroke-width: 1.5px;
}
.text{
    font-size:10px;
    text-transform:capitalize;
}
#container {
    margin:10px 10%;
    height:100%;
    border:solid #000;
    margin-top: 20px;
}
.hidden {
    display: none;
}

#dims {
    position:relative;
    z-index:999;
}

div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}
/*.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}
.equator {
    stroke: #ccc;
    stroke-width: 1px;
}*/

.world {
    top:600px;
}

p {
    font-size:12px;
    margin:0;
}


/* Tooltips barchart */
.bar:hover {
  fill: orange ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: #EDF0F1;
  color: black;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #EDF0F1;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Tooltips barchart end */

/*Slider area*/
.slider{
  width: 100%;
  margin: auto;
  padding-top: 40px;

}

.slider h2{
  padding-top: 40px;
  padding-left: 35%;
}

#slider #slider2 {
  background-color: black;
  height: 4px;
  width: 455px;
}

.d3-slider-handle{
    background: white !important;

}
#handle-one{
  border-radius: 50%;
  width: 20px;
  border: 2px solid black;
}


/*Slider area end*/

#sidebar {
    background-color: rgba(238,238,238,1);
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.row{
    overflow: hidden;
    height: 100%;
}

#selectCountry {
    margin:auto; text-align:center; font-weight:bold; line-height: 400px;
}

.top5exports {
    border:solid 1px #000;
    width:400px;
    height:400px;
}

.compareWorld {
}

.countrySizePos {
}

#compare-line-chart {
    border:solid 1px #000;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
}

#compare-line-chart { font: 12px;}

#compare-line-chart path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

#compare-line-chart .axis path,
#compare-line-chart .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


#country-name p{
  font-size: 38px;
}

.charts-view{
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left:10px; padding-right: 10px;
  border: 2px solid rgba(204,204,204,1);
  height: 100%;
  padding-bottom:20px; padding-top: 20px;
}

#multiples{
  height: 370px;
}

#additional-countries-hint p{
  font-size: 14px;
  margin-top: 20px;
}

#impExp{
  margin-top: 20px;
}

#sidebar p{
  float: center;
}


/* ny slider */
.chroniton {
  font: 10px sans-serif;
  outline:none;
}
.chroniton .play-button {
  fill:#444;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis, .slider text {
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}
.x.axis path.domain {
  stroke-width:10;
  stroke-linecap:round;
  stroke:#ddd;
}
.x.axis path.halo {
  stroke-width:12;
  stroke-linecap:round;
  stroke:#ccc;
}
.tick line {
  stroke:#d0d0d0;
  stroke-width:1;
  transform:translate(0px, -5px);
}
.slider .handle {
  fill: #fff;
  stroke-width:1;
  stroke:#333;
}
.slider .handle, .slider text {
  cursor: move;
  cursor: -webkit-grab;
  transition:fill 200ms ease-in-out;
}
.handle:active, .slider text:active {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.slider.brushing .handle {
  fill: #eee;
}
.label {
  font:bold 12px sans-serif;
}
/* ny slider end*/